/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@mixin btn($paddingY, $paddingX, $bgcolor, $border, $hover-bg, $hover-color) {

  padding: $paddingY $paddingX;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;

  background-color: $bgcolor;
  color: $waterwhite;

  border: $border;
  border-radius: 24px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

  &:hover {
    color: $hover-color;
    background-color: $hover-bg;
  }
}